


<h1>The Ideal Day </h1>









<h3  style="text-align: center;"> Monday  </h3>


<table  style="margin-left: auto; margin-right: auto;width:100%"  >
    <tr>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Bandwidth(Minutes)</th>
      <th>Task Name</th>
      <th>Score</th>
      <th>Status</th>
    </tr>

{% for array in Mon %}
<tr>
      {% for content in array %}
        <td style="text-align: center; vertical-align: middle;">{{content}}</td>
      {% endfor %}
</tr>
{% endfor %}
</table>

<p> Monday Score: {{Mon_Sc}}</p>





<h3  style="text-align: center;"> Tuesday  </h3>


<table  style="margin-left: auto; margin-right: auto;width:100%"  >
    <tr>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Bandwidth(Minutes)</th>
      <th>Task Name</th>
      <th>Score</th>
      <th>Status</th>
    </tr>

{% for array in Tue %}
<tr>
      {% for content in array %}
        <td style="text-align: center; vertical-align: middle;">{{content}}</td>
      {% endfor %}
</tr>
{% endfor %}
</table>

<p> Tuesday Score: {{Tue_Sc}}</p>




<h3  style="text-align: center;"> Wednessday  </h3>


<table  style="margin-left: auto; margin-right: auto;width:100%"  >
    <tr>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Bandwidth(Minutes)</th>
      <th>Task Name</th>
      <th>Score</th>
      <th>Status</th>
    </tr>

{% for array in Wed %}
<tr>
      {% for content in array %}
        <td style="text-align: center; vertical-align: middle;">{{content}}</td>
      {% endfor %}
</tr>
{% endfor %}
</table>

<p> Wednessday Score: {{Wed_Sc}}</p>








<h3  style="text-align: center;"> Thursday  </h3>


<table  style="margin-left: auto; margin-right: auto;width:100%"  >
    <tr>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Bandwidth(Minutes)</th>
      <th>Task Name</th>
      <th>Score</th>
      <th>Status</th>
    </tr>

{% for array in Thurs %}
<tr>
      {% for content in array %}
        <td style="text-align: center; vertical-align: middle;">{{content}}</td>
      {% endfor %}
</tr>
{% endfor %}
</table>

<p> Thursday Score: {{Thurs_Sc}}</p>







<h3  style="text-align: center;"> Friday  </h3>


<table  style="margin-left: auto; margin-right: auto;width:100%"  >
    <tr>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Bandwidth(Minutes)</th>
      <th>Task Name</th>
      <th>Score</th>
      <th>Status</th>
    </tr>

{% for array in Fri %}
<tr>
      {% for content in array %}
        <td style="text-align: center; vertical-align: middle;">{{content}}</td>
      {% endfor %}
</tr>
{% endfor %}
</table>

<p> Friday Score: {{Fri_Sc}}</p>












<h3  style="text-align: center;"> Saturday  </h3>


<table  style="margin-left: auto; margin-right: auto;width:100%"  >
    <tr>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Bandwidth(Minutes)</th>
      <th>Task Name</th>
      <th>Score</th>
      <th>Status</th>
    </tr>

{% for array in Sat %}
<tr>
      {% for content in array %}
        <td style="text-align: center; vertical-align: middle;">{{content}}</td>
      {% endfor %}
</tr>
{% endfor %}
</table>

<p> Saturday Score: {{Sat_Sc}}</p>





<h3  style="text-align: center;"> Sunday  </h3>


<table  style="margin-left: auto; margin-right: auto;width:100%"  >
    <tr>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Bandwidth(Minutes)</th>
      <th>Task Name</th>
      <th>Score</th>
      <th>Status</th>
    </tr>

{% for array in Sun %}
<tr>
      {% for content in array %}
        <td style="text-align: center; vertical-align: middle;">{{content}}</td>
      {% endfor %}
</tr>
{% endfor %}
</table>

<p> Sunday Score: {{Sun_Sc}}</p>